$base-bgcolor: rgb(51, 51, 51);
$second-bgcolor: rgb(246, 245, 245);
$base-fontcolor: rgb(51, 51, 51);
$second-fontcolor: rgb(246, 245, 245);

$breakpoints: (
  "sm": "screen and (min-width: 576px)",
  "md": "screen and (min-width: 768px)",
  "lg": "screen and (min-width: 992px)",
  "xl": "screen and (min-width: 1200px)",
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

nav {
  z-index: 2;
}
section {
  z-index: 1;
}
// common
* {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}
*,
::before,
::after {
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: $second-bgcolor;
  color: #333;
  font-family: "Noto Sans JP", sans-serif;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}

input,
textarea {
  font-family: "Noto Sans JP", sans-serif;
}

// 共通
.normal-text {
  font-size: 16px;
  letter-spacing: 0.01rem;
  line-height: 1.5rem;
}
.small-text {
  font-size: 14px;
  letter-spacing: 0.01rem;
  line-height: 1.5rem;
}
.font-big {
  font-size: 32px;
}
.font-middle {
  font-size: 22px;
}
.font-small {
  font-size: 14px;
}
.under {
  background: linear-gradient(transparent 70%, #ff99ab 70%);
  font-weight: bold;
}
.sp-display {
  display: block;
  @include mq("md") {
    display: none;
  }
}
.sp-undisplay {
  display: none;
  @include mq("md") {
    display: block;
  }
}

// ヘッダー
// header
header {
  background: $base-bgcolor;
  height: 100px;
  width: 100%;
}
nav {
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 100px;
  position: fixed;
}

.navbar_brand {
  display: inline-block;
  height: 70px;
  padding-bottom: 10px;
  img {
    height: 100%;
    width: auto;
  }
}

.drawer {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100px;
  justify-content: space-between;
  padding: 0 1em;
  position: relative;
  z-index: 1000;
  background-color: #333;
}

// header > toggle
.navbar_toggle {
  z-index: 9999;
}

.navbar_toggle_icon {
  background: #5c6b80;
  -webkit-transition: ease 0.2s;
  display: block;
  height: 2px;
  position: relative;
  transition: ease 0.2s;
  width: 30px;
}

.navbar_toggle_icon:nth-child(1) {
  top: 0;
}

.navbar_toggle_icon:nth-child(2) {
  margin: 8px 0;
}

.navbar_toggle_icon:nth-child(3) {
  top: 0;
}

// header toggle open用のクラス
.navbar_toggle.open .navbar_toggle_icon:nth-child(1) {
  top: 10px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.navbar_toggle.open .navbar_toggle_icon:nth-child(2) {
  opacity: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.navbar_toggle.open .navbar_toggle_icon:nth-child(3) {
  top: -10px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

// header > menu
// 最初は-100%で隠しておく
.menu {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transition: ease 0.3s;
  -webkit-transition: ease 0.3s;
}

.menu ul li {
  border-bottom: 1px solid $second-fontcolor;
  padding: 2em;
  a {
    color: $second-fontcolor;
  }
}
.twitter {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: rgb(51, 51, 51);
}
.twitter img {
  width: 100%;
  height: auto;
}
// header > menu open用
// 隠れているメニューを表示させる
.menu.open {
  background-color: $base-bgcolor;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transform: translateX(0);
  -webkit-transform: translateX(0);
}

// media query
@include mq("md") {
  nav {
    display: flex;
    flex-direction: row;
  }

  // toggle部分は表示しない
  .navbar_toggle {
    display: none;
  }

  // menuは表示する
  .menu {
    width: 100%;
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }

  // menuのリスト部分を組みなおす
  .menu ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    justify-content: center;
  }

  .menu ul li {
    border-bottom: none;
    padding: 15px;
    display: inline-block;
    position: relative;
    text-decoration: none;
        :after {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      width: 0;
      height: 3px;
      background: #fff;
      transition: all 0.3s ease 0s;
    }
    :hover {
      cursor: pointer;
    }
    :hover::after {
      width: 100%;
    }
  }
}

// プロフィール
.prof-container {
  text-align: center;
}
.prof-inner {
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.prof-main {
  margin-bottom: 40px;
  @include mq("md") {
    display: flex;
    align-items: center;
  }
}
.prof-img {
  margin: 0 auto;
  width: 50%;
  @include mq("md") {
    width: 30%;
  }
}
.prof-img img {
  border-radius: 50%;
  width: 100%;
  height: auto;
}
.prof-text {
  margin: 0 auto;
  margin-top: 20px;
  width: 80%;
  @include mq("md") {
    width: 70%;
    text-align: left;
    margin-left: 40px;
  }
}
.prof-items {
  @include mq("md") {
    display: flex;
  }
}
.prof-item {
  background-color: $second-bgcolor;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin: 0 20px;
  margin-bottom: 40px;
  padding: 20px;
  position: relative;
  @include mq("md") {
    margin: 0 10px;
    width: calc((100% / 3) - 20px);
  }
}
.prof-item-header {
  content: "";
  font-weight: bold;
  position: absolute;
  top: -25px;
  z-index: 9999;
}
.prof-item-text {
  text-align: left;
}
.prof-item-example {
  text-align: left;
  margin-top: 20px;
}

// HTML/CSS
.html-container,
.wp-container,
.nocode-container,
.toiawase-container {
  text-align: center;
}
.html-inner,
.wp-inner,
.nocode-inner {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.header {
  font-size: 40px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  margin: 120px auto 20px auto;
  position: relative;
}
.header:after {
  position: absolute;
  content: attr(data-indexnum);
  opacity: 0.2;
  font-size: 150px;
  left: calc((100% / 2) - 100px);
  top: -100px;
}

.work-header {
  font-size: 30px;
  // font-weight: bold;
  font-family: "Yusei Magic", sans-serif;
  margin-bottom: 20px;
}
.toiawase-header {
  font-size: 40px;
  // font-weight: bold;
  font-family: "Yusei Magic", sans-serif;
  margin-bottom: 20px;
}
.work-main {
  margin-bottom: 40px;
}
.work-header-img {
  height: 100px;
  margin: 10px auto 20px auto;
  position: relative;
  width: 100px;
}

.work-header-text {
  text-align: left;
  padding: 0 20px;
  @include mq("md") {
    text-align: center;
  }
}
.work-items {
  @include mq("md") {
    display: flex;
    justify-content: center;
  }
}
.work-item {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
  overflow: hidden;
  @include mq("md") {
    margin: 10px 10px;
    width: calc((100% / 3) - 10px);
  }
}
.work-img {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.work-item img {
  transition: 1s all;
}
.work-item img:hover {
  transform: scale(1.2, 1.2);
  transition: 1s all;
}

.work-text {
  text-align: left;
}

// toiawase
.toiawase-inner {
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  padding: 20px 0 40px 0;
  text-align: center;
}
.toiawase-header {
  font-size: 40px;
  font-weight: bold;
}
.form-items {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0;
}
.form-label {
  flex: 0 0 35%;
  height: 50px;
  line-height: 50px;
  padding: 5px 0;
  text-align: right;
}
.form-input {
  flex: 0 0 55%;
  height: 50px;
  line-height: 50px;
  padding: 5px 10px;
}
.form-input input {
  font-size: 16px;
  padding: 5px 5px;
  width: 95%;
}
.form-labeltextarea {
  flex: 0 0 35%;
  height: 100px;
  padding: 15px 0;
  text-align: right;
}
.form-textarea {
  flex: 0 0 55%;
  height: 100px;
  line-height: 50px;
  padding: 10px 10px;
}
.form-textarea textarea {
  font-size: 16px;
  height: 90px;
  padding: 5px 5px;
  resize: none;
  width: 95%;
}
.form-send {
  background-color: rgba(51, 51, 51, 0.6);
  font-size: 16px;
  width: 200px;
  border: 0px;
  border-radius: 30px;
  color: $second-fontcolor;
  display: inline-block;
  margin: 10px 0;
  padding: 20px 0;
}
.form-send:hover {
  background-color:$second-bgcolor;
  border: 5px solid #333;
  color: $base-fontcolor;
  border-radius: 45px;
  margin: 10px 0;
  padding: 20px 0;
  
}
.dummy {
  display: none;
}
.toiawase-result,
.toiawase-alert {
  display: none;
  background-color: #ff99ab;
  border-radius: 20px;
  padding: 20px 10px;
  margin: 20px auto;
}

// footer
footer {
  @include mq("md") {
    display: block;
    position: absolute;
    bottom: 0;
    background-color: $base-bgcolor;
    color: $second-fontcolor;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 100%;
    z-index: 999;
  }
  display: none;
}

.swiper-wrapper {
  flex-direction: column;
  @include mq("md") {
    flex-direction: row;
  }
}
