body {
  font-family: 'Noto Sans JP', sans-serif;
}

a {
  text-decoration: none;
}

nav {
  width: 100%;
  height: 100px;
  position: relative;
  background: #f6f6f6;
}

.drawer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 100px;
  padding: 0 1em;
}

.navbar_toggle {
  z-index: 9999;
}

.navbar_toggle_icon {
  position: relative;
  display: block;
  height: 2px;
  width: 30px;
  background: #5c6b80;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.navbar_toggle_icon:nth-child(1) {
  top: 0;
}

.navbar_toggle_icon:nth-child(2) {
  margin: 8px 0;
}

.navbar_toggle_icon:nth-child(3) {
  top: 0;
}

.navbar_toggle.open .navbar_toggle_icon:nth-child(1) {
  top: 10px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.navbar_toggle.open .navbar_toggle_icon:nth-child(2) {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0;
}

.navbar_toggle.open .navbar_toggle_icon:nth-child(3) {
  top: -10px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.menu {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
  z-index: 1000;
}

.menu ul li {
  padding: 2em;
  border-bottom: 1px solid #ccc;
}

.menu.open {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

@media screen and (min-width: 768px) {
  nav {
    display: flex;
    flex-direction: row;
  }
  .navbar_toggle {
    display: none;
  }
  .menu {
    width: 100%;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  .menu ul {
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
  }
  .menu ul li {
    padding: 0 1em;
    border-bottom: none;
  }
}

.navbar_brand {
  display: inline-block;
  height: 70px;
  padding-bottom: 10px;
}

.navbar_brand img {
  width: auto;
  height: 100%;
}

.container-header {
  font-size: 26px;
  padding: 20px 0;
  text-align: center;
}

.service-container {
  width: 95%;
  margin: 0 auto;
  text-align: center;
}

.service-item {
  width: 100%;
}

.card {
  padding: 10px 0;
  border: 1px solid #000;
  margin-bottom: 20px;
  box-shadow: 2px 2px 4px gray;
}

.card-img {
  height: 100px;
  width: 100px;
  margin: 0 auto;
}

.card-title {
  font-size: 20px;
  letter-spacing: 0.01rem;
  padding: 10px 0;
}

.card-text {
  font-size: 16px;
  letter-spacing: 0.01rem;
  line-height: 1.5rem;
}

.work-container {
  width: 95%;
  margin: 0 auto;
  text-align: left;
}

.work-item {
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 2px 2px 4px gray;
}

.work-header {
  font-size: 20px;
  letter-spacing: 0.01rem;
  padding: 10px 0;
  text-align: center;
}

.work-htmls, .work-wps, .work-nocodes {
  margin-top: 40px;
}

.work-content {
  font-size: 16px;
  letter-spacing: 0.01rem;
  line-height: 1.5rem;
}

.work-item {
  width: 100%;
}

.work-item img {
  width: 100%;
  height: auto;
}

.wrok-item a:hover {
  transform: translateY(-10px);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

footer {
  background-color: #2e3740;
  color: #fff;
  height: 100px;
  line-height: 100px;
  text-align: center;
  width: 100%;
}
