$base-bgcolor: rgb(51,51,51);
$second-bgcolor: rgb(246,245,245);

$base-fontcolor: rgb(51,51,51);
$second-fontcolor: rgb(246,245,245);

$breakpoints: (
    "sm": "screen and (min-width: 576px)",
    "md": "screen and (min-width: 768px)",
    "lg": "screen and (min-width: 992px)",
    "xl": "screen and (min-width: 1200px)",
) !default;

@mixin mq($breakpoint: md) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

// common
* {
    box-sizing: border-box;
}
body {
    background-color: $second-bgcolor;
    color: #333;
    font-family: "Noto Sans JP", sans-serif;
}
input,
textarea {
    font-family: "Noto Sans JP", sans-serif;
}
a {
    text-decoration: none;
}

// common
.base-container {
    margin: 0 auto;
    text-align: center;
    width: 90%;
    max-width: 900px;
}
.wide-container {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    // background-color: rgba(51, 51, 51, 0.2);
}
.container-header {
    border-bottom: 10px solid rgba(51, 51, 51, 0.8);
    border-top: 10px solid rgba(51, 51, 51, 0.8);
    font-size: 26px;
    font-weight: bold;
    margin: 40px auto 40px auto;
    padding: 10px 0;
    text-align: center;
    width: 200px;
    // display: inline-block;
}
.other-bgcolor {
    background-color: rgba(51, 51, 51, 0.2);
}
.normal-text {
    font-size: 16px;
    letter-spacing: 0.01rem;
    line-height: 1.5rem;
    text-align: left;
}
.font-big {
    font-size: 26px;
}
.under {
    background: linear-gradient(transparent 70%, #ff99ab 70%);
    font-weight: bold;
}
.link-active {
    color: $base-fontcolor;
    text-decoration: underline;
}
.base-button {
    background-color: rgba(51, 51, 51, 0.6);
    border-radius: 30px;
    color: $second-fontcolor;
    display: inline-block;
    margin: 10px 0;
    padding: 20px 0;
    max-width: 400px;
    width: 100%;
}
.base-button:hover {
    opacity: 0.3;
}
.small-button {
    background-color: rgba(51, 51, 51, 0.6);
    border-radius: 30px;
    color: $second-fontcolor;
    display: inline-block;
    font-size: 14px;
    margin: 10px 0;
    padding: 10px 30px;
    @include mq("md") {
        width: 180px;
        margin: 20px auto 10px auto;
    }
}
.small-button:hover {
    opacity: 0.3;
}

// goto Top
// to-Top
.to-top {
    position: fixed;
    bottom: 55px;
    right: 10px;
    z-index: 99;
    display: none;
}
.to-top img {
    width: 50px;
    height: auto;
    display: block;
    opacity: 0.6;
}
.to-top img:hover {
    opacity: 1;
}

// header
nav {
    background: $base-bgcolor;
    height: 100px;
    position: relative;
    width: 100%;
}

.navbar_brand {
    display: inline-block;
    height: 70px;
    padding-bottom: 10px;
    img {
        height: 100%;
        width: auto;
    }
}

.drawer {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: space-between;
    padding: 0 1em;
    position: relative;
}

// header > toggle
.navbar_toggle {
    z-index: 9999;
}

.navbar_toggle_icon {
    background: #5c6b80;
    -webkit-transition: ease 0.5s;
    display: block;
    height: 2px;
    position: relative;
    transition: ease 0.5s;
    width: 30px;
}

.navbar_toggle_icon:nth-child(1) {
    top: 0;
}

.navbar_toggle_icon:nth-child(2) {
    margin: 8px 0;
}

.navbar_toggle_icon:nth-child(3) {
    top: 0;
}

// header toggle open用のクラス
.navbar_toggle.open .navbar_toggle_icon:nth-child(1) {
    top: 10px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.navbar_toggle.open .navbar_toggle_icon:nth-child(2) {
    opacity: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.navbar_toggle.open .navbar_toggle_icon:nth-child(3) {
    top: -10px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

// header > menu
// 最初は-100%で隠しておく
.menu {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transition: ease 0.5s;
    -webkit-transition: ease 0.5s;
    z-index: 1000;
}

.menu ul li {
    border-bottom: 1px solid #ccc;
    padding: 2em;
    a {
        color: #fff;
    }
}
// header > menu open用
// 隠れているメニューを表示させる
.menu.open {
    background-color: #333;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transform: translateX(0);
    -webkit-transform: translateX(0);
}

// media query
@include mq("md") {
    nav {
        display: flex;
        flex-direction: row;
    }

    // toggle部分は表示しない
    .navbar_toggle {
        display: none;
    }

    // menuは表示する
    .menu {
        width: 100%;
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }

    // menuのリスト部分を組みなおす
    .menu ul {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        height: 100px;
        justify-content: flex-end;
    }

    .menu ul li {
        border-bottom: none;
        padding: 0 1em;
    }
}

// intro
.intro-inner {
    padding: 20px 0 60px 0;
}
.prof-img {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 50%;
}
.prof-img img {
    border-radius: 50%;
    height: auto;
    width: 100%;
}
@include mq("md") {
    .prof-area {
        display: flex;
    }
    .prof-img {
        width: 150px;
        height: 150px;
    }
    .prof-text {
        margin-left: 20px;
    }
}
.feature-items {
    padding-top: 40px;
    @include mq("md") {
        display: flex;
        justify-content: center;;
    }
}
.item {
    background-color: #fff;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-bottom: 40px;
    padding: 20px;
    position: relative;
    @include mq("md") {
        margin: 0 10px;
        width: calc((100% / 3) - 20px);
    }
}
.item-header {
    content: "";
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    top: -20px;
    z-index: 9999;
}
.item-text {
    font-size: 16px;
    letter-spacing: 0.01rem;
    line-height: 1.5rem;
    text-align: left;
}

// service
.service-inner {
    margin: 0 auto;
    max-width: 900px;
    padding: 20px 0 60px 0;
    text-align: center;
    width: 90%;
}

.service-items {
    margin-bottom: 40px;
    @include mq("md") {
        display: flex;
        justify-content: center;
    }
}

.service-item {
    width: 100%;
}

// card
.card {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
    padding: 10px 0;
    @include mq("md") {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 20px 10px;
        padding: 20px;
        width: calc((100% / 3) - 20px);
    }
}
.card-img {
    height: 100px;
    margin: 0 auto;
    position: relative;
    width: 100px;
}
.card-title {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.01rem;
    padding: 10px 0;
}
.card-text {
    font-size: 16px;
    letter-spacing: 0.01rem;
    line-height: 1.5rem;
    @include mq("md") {
        text-align: left;
    }
}

// work
.work-inner {
    margin: 0 auto;
    max-width: 900px;
    padding: 20px 0 60px 0;
    text-align: center;
    width: 90%;
}

.work-items {
    @include mq("md") {
        display: flex;
        justify-content: center;
    }
}
.work-item {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 40px 0;
    position: relative;
    width: 100%;
    @include mq("md") {
        margin: 40px 10px;
        width: calc((100% / 3) - 20px);
    }
}
.work-img {
    height: auto;
    width: 100%;
}

.work-header {
    background: linear-gradient(transparent 50%, rgba(51, 51, 51, 0.1) 50%);
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.01rem;
    margin: 0 auto 20px auto;
    padding: 10px 0;
    text-align: center;
}
.work-htmls,
.work-wps,
.work-nocodes {
    margin: 40px 0;
    background-color: #fff;
    padding: 0 10px;
    border: 3px solid rgba(51,51,51,0.1);
    border-radius: 15px;
}

// price
.price-inner {
    margin: 0 auto;
    max-width: 900px;
}

// toiawase
.form-items {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0;
}
.form-label {
    flex: 0 0 35%;
    height: 50px;
    line-height: 50px;
    padding: 5px 0;
    text-align: right;
}
.form-input {
    flex: 0 0 55%;
    height: 50px;
    line-height: 50px;
    padding: 5px 10px;
}
.form-input input {
    font-size: 16px;
    padding: 5px 5px;
    width: 95%;
}
.form-labeltextarea {
    flex: 0 0 35%;
    height: 100px;
    padding: 15px 0;
    text-align: right;
}
.form-textarea {
    flex: 0 0 55%;
    height: 100px;
    line-height: 50px;
    padding: 5px 10px;
}
.form-textarea textarea {
    font-size: 16px;
    height: 90px;
    padding: 5px 5px;
    resize: none;
    width: 95%;
}

// footer
footer {
    background-color: $base-bgcolor;
    color: $second-fontcolor;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 100%;
}
